<p id="notice"><%= notice %></p>

<h1>Building Details</h1>

<table>
  <thead>
    <tr>
      <th>Building</th>
      <th>Information key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @building_details.each do |building_detail| %>
      <tr>
        <td><%= building_detail.building_id %></td>
        <td><%= building_detail.information_key %></td>
        <td><%= building_detail.value %></td>
        <td><%= link_to 'Show', building_detail %></td>
        <td><%= link_to 'Edit', edit_building_detail_path(building_detail) %></td>
        <td><%= link_to 'Destroy', building_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building Detail', new_building_detail_path %>
