<p id="notice"><%= notice %></p>

<h1>Columns</h1>

<table>
  <thead>
    <tr>
      <th>Battery</th>
      <th>Type</th>
      <th>Num floors served</th>
      <th>Status</th>
      <th>Information</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @columns.each do |column| %>
      <tr>
        <td><%= column.battery_id %></td>
        <td><%= column.type %></td>
        <td><%= column.num_floors_served %></td>
        <td><%= column.status %></td>
        <td><%= column.information %></td>
        <td><%= column.notes %></td>
        <td><%= link_to 'Show', column %></td>
        <td><%= link_to 'Edit', edit_column_path(column) %></td>
        <td><%= link_to 'Destroy', column, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Column', new_column_path %>
