<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @lead.full_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @lead.company_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lead.phone %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @lead.project_name %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @lead.project_description %>
</p>

<p>
  <strong>Dept in charge of elevators:</strong>
  <%= @lead.dept_in_charge_of_elevators %>
</p>

<p>
  <strong>Message:</strong>
  <%= @lead.message %>
</p>

<p>
  <strong>Attached file:</strong>
  <%= @lead.attached_file %>
</p>

<p>
  <strong>Date of contact request:</strong>
  <%= @lead.created_at %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
