<script>
  $( document ).ready(function() {
      console.log( "ready!" );
      _mixitup();
      _owl_carousel();
      _parallax();
  });
</script>

<!-- REVOLUTION SLIDER -->
      <div class="slider fullwidthbanner-container roundedcorners">
        <div
          id="home-navigation"
          class="fullwidthbanner"
          data-height="600"
          data-shadow="0"
          data-navigationStyle="preview2"
        >
          <ul class="hide">
            <!-- SLIDE  -->
            <li
              data-transition="parallaxtobottom"
              data-slotamount="7"
              data-masterspeed="700"
              data-saveperformance="off"
              data-title="Architectural View"
			        data-delay="7000"
            >
              <!-- MAIN IMAGE -->
              <%= image_tag('AdobeStock_103570025.jpeg')%>

              <div
                class="tp-caption white_big skewfromleft tp-resizeme"
                data-x="200"
                data-y="100"
                data-speed="500"
                data-start="1500"
                data-easing="Power3.easeInOut"
                data-splitin="words"
                data-splitout="none"
                data-elementdelay="0"
                data-endelementdelay="0.1"
                data-endspeed="600"
                style="
                  z-index: 2;
                  color: #fff;
                  font-size: 45px;
                  line-height: 85px;
                  font-weight: bold;
                  letter-spacing: 0;
                  text-shadow: none;
                "
              >
                ELEVATE SAFETY, SPEED AND STYLE
              </div>

              <div
                class="tp-caption content_text_center skewfromleft tp-resizeme"
                data-x="250"
                data-y="195"
                data-speed="500"
                data-start="2000"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0"
                data-endelementdelay="0.1"
                data-endspeed="600"
                style="
                  z-index: 3;
                  font-size: 20px;
                  color: #fff;
                  font-weight: 300;
                  text-shadow: none;
                "
              >
                If you dream of installing a new elevator (or more than one)
                that takes full advantage, <br />
                our team is the best in this field!
              </div>

              <div
                class="tp-caption skewfromleft tp-resizeme un-button-2-lg"
                data-x="665"
                data-y="300"
                data-speed="300"
                data-start="2500"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="
                  z-index: 5;
                  display: inline-block;
                  max-width: auto;
                  max-height: auto;
                  white-space: nowrap;
                "
              >
                <a class="btn btn-danger btn-lg" <%= link_to 'Offer of Services', quotes_new_path, class: 'nav-link' %>
                  > &nbsp; <i class="fa fa-angle-right"></i
                ></a>
              </div>

              <div
                class="tp-caption skewfromleft tp-resizeme un-button-2-lg"
                data-x="250"
                data-y="300"
                data-speed="300"
                data-start="2500"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="
                  z-index: 5;
                  max-width: auto;
                  max-height: auto;
                  white-space: nowrap;
                "
              >
                <a class="btn btn-danger btn-lg" href="quote.html"
                  >Request Quote &nbsp; <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </li>
            <!-- SLIDE  -->
            <li
              data-transition="parallaxtobottom"
              data-slotamount="7"
              data-masterspeed="600"
              data-saveperformance="off"
              data-title="Architectural View"
			        data-delay="7000"
        
              <!-- MAIN IMAGE -->
             
              <!-- second here -->
              
              <%= image_tag("AdobeStock_66781279.jpeg")%>
            
              

              <div
                class="tp-caption white_big skewfromleft tp-resizeme"
                data-x="200"
                data-y="100"
                data-speed="400"
                data-start="1500"
                data-easing="Power3.easeInOut"
                data-splitin="words"
                data-splitout="none"
                data-elementdelay="0"
                data-endelementdelay="0.1"
                data-endspeed="600"
                style="
                  z-index: 2;
                  color: #fff;
                  font-size: 65px;
                  line-height: 85px;
                  font-weight: bold;
                  letter-spacing: 0;
                  text-shadow: none;
                "
              >
                Residential Building Services
              </div>

              <div
                class="tp-caption content_text_center skewfromleft tp-resizeme"
                data-x="250"
                data-y="195"
                data-speed="500"
                data-start="2000"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0"
                data-endelementdelay="0.1"
                data-endspeed="600"
                style="
                  z-index: 3;
                  font-size: 20px;
                  color: #fff;
                  font-weight: 300;
                  text-shadow: none;
                "
              >
                We do good work on residential buildings. Your elevators will go
                up, down, and sideways! <br />
                (Elevators do not go sideways)
              </div>

              <div
                class="tp-caption skewfromleft tp-resizeme un-button-2-lg"
                data-x="250"
                data-y="300"
                data-speed="300"
                data-start="2500"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="
                  z-index: 5;
                  max-width: auto;
                  max-height: auto;
                  white-space: nowrap;
                "
              >
                <a class="btn btn-danger btn-lg" href="residential.html"
                  >DETAILS &nbsp; <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </li>

            <!-- SLIDE  -->
            <li
              data-transition="parallaxtotop"
              data-slotamount="7"
              data-masterspeed="300"
              data-saveperformance="off"
              data-title="Bright Future"
			  data-delay="7000"
            >
              <!-- MAIN IMAGE -->
              <!-- third here -->
              <%= image_tag("AdobeStock_130711085.jpeg")%>
             

              <div class="overlay dark-4">
                <!-- dark overlay [0 to 9 opacity] -->
              </div>

              <div
                class="tp-caption font-roboto skewfromleft tp-resizeme"
                data-x="100"
                data-y="200"
                data-speed="500"
                data-start="1500"
                data-easing="Cubic.easeOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0"
                data-endelementdelay="0.1"
                data-endspeed="500"
                style="
                  z-index: 2;
                  color: #fff;
                  font-size: 65px;
                  line-height: 85px;
                  font-weight: bold;
                  letter-spacing: 0;
                  text-shadow: none;
                "
              >
                Corporate Building Services
              </div>

              <div
                class="tp-caption skewfromrightshort tp-resizeme"
                data-x="200"
                data-y="300"
                data-speed="500"
                data-start="1000"
                data-easing="easeInCirc"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0"
                data-endelementdelay="0.1"
                data-endspeed="500"
                style="
                  z-index: 3;
                  font-size: 20px;
                  color: #fff;
                  font-weight: 300;
                  text-shadow: none;
                "
              >
                We have a long history of installing elevators for big hotshot
                corporate buznus men/women. <br />
                If I'm describing you, then click below for Details.
              </div>

              <div
                class="tp-caption sfb tp-resizeme"
                data-x="200"
                data-y="410"
                data-speed="500"
                data-start="1500"
                data-easing="Power3.easeIn"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0"
                data-endelementdelay="0.1"
                data-endspeed="500"
                style="z-index: 4; max-width: auto;"
              >
                <a class="btn btn-danger btn-lg" <%= link_to 'DETAILS', home_commercial_path, class: 'nav-link' %>
                  > &nbsp; <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </li>
          </ul>
        </div>
        </div>
      <!-- /REVOLUTION SLIDER -->

      <!-- BUTTON CALLOUT -->
			<a href="#contact" style= "border-color: #8B0000;background-color: #8B0000" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did Rocket Elevators convince you? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>

      <!-- Services -->
      <section id="services-navigation">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
             <%= image_tag('AdobeStock_3294993.jpeg', alt: "img", class: "img-fluid")%>
             
              <h3 class="mt-10">Awards &amp; Major Projects</h3>
              <p>
                Over the years we've been highly praised for our speed and
                safety! See for youself what the critics have to say.
              </p>
              <a href="#portfolio" class="btn btn-default">AWARDS</a>
            </div>

            <div class="col-sm-4">
              <%= image_tag('AdobeStock_179073967.jpeg', alt: "img", class: "img-fluid")%>
            
              <h3 class="mt-10">Residential Buildings</h3>
              <p>
                Everyone needs a speedy and safe way down to the ground floor.
                Perhaps no one more than those in residential buildings!
              </p>
              <a href="residential.html" class="btn btn-default">MORE DETAILS</a
              >
            </div>

            <div class="col-sm-4">
            <%= image_tag('AdobeStock_170843598.jpeg', alt: "img", class: "img-fluid")%>  
            
              <h3 class="mt-10">Corporate Buildings</h3>
              <p>
                Everyone needs a speedy and safe way down to the ground floor.
                Perhaps no one more than those in corporate buildings!
              </p>
              <a href="commercial.html" class="btn btn-default">MORE DETAILS</a>
            </div>
          </div>
        </div>
      </section>
      <!-- /Services -->

      <!-- Parallax -->
      <section class="parallax parallax-1" style="background-image: url('<%= image_tag('AdobeStock_33298664.jpeg')%>')">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300">Safely and speedily elevating customers since 1976</h2>
						<a class="btn btn-default btn-lg" <%= link_to 'GET A QUOTE', quotes_new_path %> <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-warning btn-lg" style="background-color: #8B0000; border-color: #8B0000;" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
      <!-- /Parallax -->

      <!-- PORTFOLIO -->
      <section id="portfolio-navigation">
        <div class="container">
          <div class="heading-title heading-dotted text-center">
            <h2>Portfolio</h2>
          </div>

          <div class="text-center">
            <ul class="nav nav-pills mix-filter mb-60">
              <li data-filter="all" class="filter active">
                <a href="#">All</a>
              </li>
              <li data-filter="residential" class="filter">
                <a href="#">Residential</a>
              </li>
              <li data-filter="corporate" class="filter">
                <a href="#">Corporate</a>
              </li>
              <li data-filter="awards" class="filter">
                <a href="#">Awards</a>
              </li>
            </ul>
          </div>
        </div>

        <div id="portfolio" class="portfolio-nogutter">
          <div class="row mix-grid">
            <div class="col-md-3 col-sm-3 mix corporate">
              <!-- item -->

              <div class="item-box">
                <figure>
                <%= image_tag("Corporate1.jpg", class: "img-fluid", width: "600", alt:"")%>
                
                </figure>

                <div class="item-box-desc">
                  <h3>Burj Khalifa</h3>
                  <ul class="list-inline categories m-0">
                    <li>Corporate</li>
                    <li>2004</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /item -->

            <div class="col-md-3 col-sm-3 mix residential">
              <!-- item -->

              <div class="item-box">
                <figure>
                  <%= image_tag('Residential1.jpg', class: "image-fluid", width: "600", height: "182", alt: "")%>
                </figure>

                <div class="item-box-desc">
                  <h3>Sleek Residential Design</h3>
                  <ul class="list-inline categories m-0">
                    <li>Residential</li>
                    <li>Timeless</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /item -->

            <div class="col-md-3 col-sm-3 mix residential">
              <!-- item -->

              <div class="item-box">
                <figure>
                  <%= image_tag("Residential2.jpg", class: "img-fluid", width: "600", height: "399", alt: "")%>
                </figure>

                <div class="item-box-desc">
                  <h3>Our Excelium Glass Design</h3>
                  <ul class="list-inline categories m-0">
                    <li>Residential</li>
                    <li>2021</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /item -->

            <div class="col-md-3 col-sm-3 mix residential">
              <!-- item -->

              <div class="item-box">
                <figure>
                 <%= image_tag("Residential3.jpg", class: "img-fluid", width: "600", height: "399", alt: "")%>
                </figure>

                <div class="item-box-desc">
                  <h3>Custom Design Options</h3>
                  <ul class="list-inline categories m-0">
                    <li>Residential</li>
                    <li>1976</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /item -->

            <div class="col-md-3 col-sm-3 mix residential">
              <!-- item -->

              <div class="item-box">
                <figure>
                 <%= image_tag("Residential4.jpg", class: "img-fluid", width: "600", height: "399", alt: "")%>
                </figure>

                <div class="item-box-desc">
                  <h3>432 Park Ave.</h3>
                  <ul class="list-inline categories m-0">
                    <li>Residential</li>
                    <li>2021</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /item -->

            <div class="col-md-3 col-sm-3 mix corporate">
              <!-- item -->

              <div class="item-box">
                <figure>
                 <%= image_tag("Corporate2.jpg", class: "img-fluid", width: "600", height: "399", alt: "")%>
                </figure>

                <div class="item-box-desc">
                  <h3>Fastest Elevators in the Game</h3>
                  <ul class="list-inline categories m-0">
                    <li>Corporate</li>
                    <li>2008</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /item -->

            <div class="col-md-3 col-sm-3 mix corporate">
              <!-- item -->

              <div class="item-box">
                <figure>
                  <%= image_tag("Corporate3.jpg", class: "img-fluid", width: "600", height: "399", alt: "")%>
                </figure>
                </figure>

                <div class="item-box-desc">
                  <h3>111 West 57th St</h3>
                  <ul class="list-inline categories m-0">
                    <li>Corporate</li>
                    <li>2019</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /item -->

            <div class="col-md-3 col-sm-3 mix awards">
              <!-- item -->

              <div class="item-box">
                <figure>
                   <%= image_tag("Award1.jpg", class: "img-fluid", width: "600", height: "399", alt: "")%>
                </figure>
                </figure>

                <div class="item-box-desc">
                  <h3>Horison Interactive Award</h3>
                  <ul class="list-inline categories m-0">
                    <li>2020</li>
                    <li>Award</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /item -->

            <div class="col-md-3 col-sm-3 mix awards">
              <!-- item -->

              <div class="item-box">
                <figure>
                  <%= image_tag("Award2.png", class: "img-fluid", width: "600", height: "399", alt: "")%>
                </figure>

                <div class="item-box-desc">
                  <h3>Muse Design Award</h3>
                  <ul class="list-inline categories m-0">
                    <li>2018</li>
                    <li>Award</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /item -->

            <div class="col-md-3 col-sm-3 mix awards">
              <!-- item -->

              <div class="item-box">
                <figure>
                  <%= image_tag("Award3.jpg", class: "img-fluid", width: "600", height: "399", alt: "")%>
                </figure>

                <div class="item-box-desc">
                  <h3>Good Design Award</h3>
                  <ul class="list-inline categories m-0">
                    <li>2015</li>
                    <li>Award</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /item -->

            <div class="col-md-3 col-sm-3 mix awards">
              <!-- item -->

              <div class="item-box">
                <figure>
                  <%= image_tag("Award4.jpg", class: "img-fluid", width: "600", height: "399", alt: "")%>
                </figure>

                <div class="item-box-desc">
                  <h3>American Business Awards Winner</h3>
                  <ul class="list-inline categories m-0">
                    <li>2021</li>
                    <li>Award</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /item -->

            <div class="col-md-3 col-sm-3 mix awards">
              <!-- item -->

              <div class="item-box">
                <figure>
                  <%= image_tag("Award5.png", class: "img-fluid", width: "600", height: "399", alt: "")%>
                </figure>

                <div class="item-box-desc">
                  <h3>IAE Winner</h3>
                  <ul class="list-inline categories m-0">
                    <li>2019</li>
                    <li>Award</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /item -->
          </div>
        </div>
      </section>
      <!-- /PORTFOLIO -->

      <!-- Team Sectiom -->
      <section id="team" class="section-xs dark">

				<div class="container">
					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div id="CEO" class="testimonial">
            <div>
							<figure style="padding-left: 420px;">
								<img class="img-circle" style="width:128px;height:128px;class:center-block;" <%= image_tag("CEO.jpg")%> 
							</figure>

            </div>
							<div class="testimonial-content p-0">
								<cite>
									Patrick Thibault
									<span>CEO</span>
								</cite>
							</div>
						</div>
						<div id ="employee" class="testimonial">
              <div>
							<figure style="padding-left: 420px;">
                <img class="img-circle" style="width:128px;height:128px;class:center-block;" <%= image_tag("employee-of-the-month.jpg")%> 
							</figure>
              </div>
							<div class="testimonial-content p-0">								
								<cite>
									Perry Sawatzky
									<span>Employee of the Month</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
      <!-- /Team Section -->

      <!-- News -->
      <section id="news-navigation">
        <div class="container">
          <div class="heading-title heading-dotted text-center">
            <h2>Recent News</h2>
          </div>

          <!-- 
						controlls-over		= navigation buttons over the image 
						buttons-autohide 	= navigation buttons visible on mouse hover only
						
						data-plugin-options:
							"singleItem": true
							"autoPlay": true (or ms. eg: 4000)
							"navigation": true
							"pagination": true
							"items": "4"
						owl-carousel item paddings
							.owl-padding-0
							.owl-padding-3
							.owl-padding-6
							.owl-padding-10
							.owl-padding-15
							.owl-padding-20
					-->
          <div
            class="owl-carousel owl-padding-10 buttons-autohide controlls-over"
            data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'
          >
            <div class="img-hover">
              <a
                href="https://montreal.ctvnews.ca/new-elevators-up-and-running-at-montreal-s-busiest-metros-station-berri-uqam-1.5177673"
              >
                <%= image_tag("CTV3.jpg", class: "image-fluid", alt: "")%>
              </a>

              <h4 class="text-left mt-20">
                <a
                  href="https://montreal.ctvnews.ca/new-elevators-up-and-running-at-montreal-s-busiest-metros-station-berri-uqam-1.5177673"
                  >New Elevators at Berri-UQAM</a
                >
              </h4>
              <p class="text-left">
                The two elevators at the Berri-UQAM metro station connecting the
                green line will go into operation starting Friday.
              </p>
              <ul class="text-left fs-12 list-inline list-separator">
                <li>
                  <i class="fa fa-calendar"></i>
                  6th Nov 2020
                </li>
              </ul>
            </div>
            <div class="img-hover">
              <a
                href="https://www.facilitiesnet.com/elevators/contributed/Elevators-See-Major-Technology-Advances-in-the-Wake-of-Disasters--43829"
              >
              <%= image_tag("TechnologyR.jpg", class: "image-fluid", alt:"")%>
            
              </a>

              <h4 class="text-left mt-20">
                <a
                  href="https://www.facilitiesnet.com/elevators/contributed/Elevators-See-Major-Technology-Advances-in-the-Wake-of-Disasters--43829"
                  >Elevators See Major Technology Advances</a
                >
              </h4>
              <p class="text-left">
                New requirements have been added to provide for occupant egress
                in emergencies and for operation during extreme weather events.
              </p>
              <ul class="text-left fs-12 list-inline list-separator">
                <li>
                  <i class="fa fa-calendar"></i>
                  15th May 2019
                </li>
              </ul>
            </div>
            <div class="img-hover">
              <a
                href="https://www.forbes.com/sites/suzannerowankelleher/2020/08/10/why-you-should-avoid-hotel-elevators-during-the-pandemic/?sh=3c0bdb466dc6"
              > 
                <%= image_tag("CovidR.jpg", class: "img-fluid", alt: "")%>
              </a>
              <h4 class="text-left mt-20">
                <a
                  href="https://www.forbes.com/sites/suzannerowankelleher/2020/08/10/why-you-should-avoid-hotel-elevators-during-the-pandemic/?sh=3c0bdb466dc6"
                  >Why You Should Avoid Hotel Elevators During The Pandemic</a
                >
              </h4>
              <p class="text-left">
                There’s a growing body of evidence that using an elevator can
                increase the risk of contracting COVID-19, including research
                indicating that the virus can linger in an elevator after an
                infected person has gotten off.
              </p>
              <ul class="text-left fs-12 list-inline list-separator">
                <li>
                  <i class="fa fa-calendar"></i>
                  10th Aug 2020
                </li>
              </ul>
            </div>
            <div class="img-hover">
              <a
                href="https://www.ultraleap.com/company/news/blog/touchless-elevator/"
              >
              <%= image_tag("UltraleapR.jpg", class: "img-fluid", alt: "")%>
              </a>
              <h4 class="text-left mt-20">
                <a
                  href="https://www.ultraleap.com/company/news/blog/touchless-elevator/"
                  >Touchless Elevators: Rethinking the Way We Ride</a
                >
              </h4>
              <p class="text-left">
                Touchless Elevator demo shows how advanced gesture control can
                be used to develop touchless, hygienic elevator controls.
              </p>
              <ul class="text-left fs-12 list-inline list-separator">
                <li>
                  <i class="fa fa-calendar"></i>
                  27th Jan 2020
                </li>
              </ul>
            </div>
            <div class="img-hover">
              <a
                href="https://www.smithsonianmag.com/innovation/elevators-are-going-green-180968907/"
              >
              <%= image_tag("GoingGreenR.jpg", class: "img-fluid", alt: "")%>
              </a>
              <h4 class="text-left mt-20">
                <a
                  href="https://www.smithsonianmag.com/innovation/elevators-are-going-green-180968907/"
                  >Elevators Are Going Green</a
                >
              </h4>
              <p class="text-left">
                Newer elevators already incorporate green features such as LED
                lights, but many companies have begun to explore magnetic motors
                which use a magnetic field to propel an elevator cab between
                floors.
              </p>
              <ul class="text-left fs-12 list-inline list-separator">
                <li>
                  <i class="fa fa-calendar"></i>
                  27th Apr 2018
                </li>
              </ul>
            </div>
            <div class="img-hover">
              <a
                href="https://www.manufacturingtodayindia.com/products-suppliers/10319-mitsubishi-electric-to-supply-elevators-to-2-large-luxury-complexes-in-india"
              >
              <%= image_tag("MitsubishiR.jpg", class: "img-fluid", alt: "")%>
              </a>
              <h4 class="text-left mt-20">
                <a
                  href="https://www.manufacturingtodayindia.com/products-suppliers/10319-mitsubishi-electric-to-supply-elevators-to-2-large-luxury-complexes-in-india"
                  >Mitsubishi Electric to supply elevators to 2 large luxury
                  complexes in India
                </a>
              </h4>
              <p class="text-left">
                The order consists of 72 elevators including 37 high-speed
                models. Mitsubishi Electric elevators use gearless hoisting
                machines fitted with permanent magnet motors for reduced power
                consumption.
              </p>
              <ul class="text-left fs-12 list-inline list-separator">
                <li>
                  <i class="fa fa-calendar"></i>
                  21st Apr 2021
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- /News -->

      <!-- Clients -->
      <section id="clients-navigation" class="alternate">
        <div class="container">
          <div class="heading-title heading-dotted text-center">
            <h2>Our Customers</h2>
          <ul class="row clients-dotted list-inline">
            <li class="col-md-3 col-sm-3 col-6">
              <%= image_tag("Customer1.jpg", class: "img-fluid", alt: "client")%>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
              <%= image_tag("customer2.jpg", class: "img-fluid", alt: "client")%>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
             <%= image_tag("customer3.jpg", class: "img-fluid", alt: "client")%>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
             <%= image_tag("customer4.jpg", class: "img-fluid", alt: "client")%>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
              <%= image_tag("customer5.jpg", class: "img-fluid", alt: "client")%>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
              <%= image_tag("customer6.jpg", class: "img-fluid", alt: "client")%>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
             <%= image_tag("customer7.jpg", class: "img-fluid", alt: "client")%>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
              <%= image_tag("customer8.png", class: "img-fluid", alt: "client")%>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
             <%= image_tag("customer9.png", class: "img-fluid", alt: "client")%>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
             <%= image_tag("customer10.png", class: "img-fluid", alt: "client")%>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
             <%= image_tag("customer11.png", class: "img-fluid", alt: "client")%>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
              <%= image_tag("customer12.png", class: "img-fluid", alt: "client")%>
            </li>
          </ul>
        </div>
      </section>
      <!-- /Clients -->

      <!-- CONTACT -->
      <section id="contact-navigation">
        <div class="container">
          <header class="text-center mb-60">
            <h2>Contact Us</h2>
            <p class="lead font-lato">We'd love to hear from you!</p>
            <hr />
          </header>

          <div class="row">
            <!-- FORM -->
            <div class="col-md-8 col-sm-8">
              <h3>
                Drop us a line or just say <strong><em>Hello!</em></strong>
              </h3>

              <!--
								MESSAGES
								
									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js
									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field. 
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">
									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP
									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

              <!-- Alert Success -->
              <div id="alert_success" class="alert alert-success mb-30">
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-hidden="true"
                >
                  &times;
                </button>
                <strong>Thank You!</strong> Your message successfully sent!
              </div>
              <!-- /Alert Success -->

              <!-- Alert Failed -->
              <div id="alert_failed" class="alert alert-danger mb-30">
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-hidden="true"
                >
                  &times;
                </button>
                <strong>[SMTP] Error!</strong> Internal server error!
              </div>
              <!-- /Alert Failed -->

              <!-- Alert Mandatory -->
              <div id="alert_mandatory" class="alert alert-danger mb-30">
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-hidden="true"
                >
                  &times;
                </button>
                <strong>Sorry!</strong> You need to complete all mandatory (*)
                fields!
              </div>
              <!-- /Alert Mandatory -->
              
              <%= form_with(model: Lead, local: true, :method => "post") do |form| %>

              <form
                action="php/contact.php"
                method="post"
                enctype="multipart/form-data"
              >
                <fieldset>
                  <input type="hidden" name="action" value="contact_send" />

                  <div class="row">
                    <div class="col-md-4">
                      <%= form.label :full_name %>
                      <%= form.text_field :full_name, class:"form-control" %>
                    </div>
                    <div class="col-md-4">
                      <%= form.label :email %>
                      <%= form.text_field :email, class:"form-control" %>
                    </div>
                    <div class="col-md-4">
                      <%= form.label :phone %>
                      <%= form.text_field :phone, class:"form-control" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <%= form.label :company_name %>
                      <%= form.text_field :company_name, class:"form-control" %>
                    </div>
                    <div class="col-md-8">
                      <%= form.label :project_name %>
                      <%= form.text_field :project_name, class:"form-control" %>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <%= form.label :project_description %>
                        <%= form.text_field :project_description, class:"form-control" %>
                    </div>
                    <div class="col-md-4">
                      <%= form.label :dept_in_charge_of_elevators %>

                      <%= form.select :dept_in_charge_of_elevators, [ 'Commercial', 'Corporate', 'Hybrid', 'Residential'], :prompt => '--- Select ---', class:"form-control pointer", id:"department" %>
         
       

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                    <%= form.label :message %>
                    <%= form.text_field :message, class:"form-control", id:"message", maxlength:"10000", rows:"16" %>
                    
          
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="contact:attachment">File Attachment</label>

                      <!-- custom file upload -->
                      <%= form.label :file %>
                      <%= form.file_field :file%>

            
                      <small class="text-muted block"
                        >Max file size: 10Mb (zip/pdf/jpg/png)</small
                      >
        
                    </div>
                  </div>
                </fieldset>

                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-danger">
                      <i class="fa fa-check"></i> SEND MESSAGE
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <%end%>
            <!-- /FORM -->

            <!-- INFO -->
            <div class="col-md-4 col-sm-4">
              <h2>Visit Us</h2>

              <!-- 
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->

              <hr />

              <p>
                <span class="block"
                  ><strong><i class="fa fa-map-marker"></i> Address: </strong
                  >4468 Wellington St Suite 204, Verdun, Quebec H4G 1W5</span
                >
                <span class="block"
                  ><strong><i class="fa fa-phone"></i> Phone:</strong>
                  <a href="tel:418-555-1234">(418) 555-1234</a></span
                >
                <span class="block"
                  ><strong><i class="fa fa-envelope"></i> Email:</strong>
                  <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span
                >
              </p>
            </div>
            <!-- /INFO -->
          </div>
        </div>
      </section>
      <!-- /CONTACT -->

      <!-- FOOTER -->
      
      <!-- /FOOTER -->
    </div>
    <!-- /wrapper -->

    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>

    <!-- PRELOADER
    <div id="preloader">
      <div class="inner">
        <span class="loader"></span>
      </div>
    </div>-->
    <!-- /PRELOADER -->


  </body>
</html>
