<!DOCTYPE html>
<html>
  <head>
 <!-- Required meta tags -->
    <%# <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> %>
    <meta charset="utf-8" />
    <title>Rocket Elevators - Index</title>
    <meta name="description" content="" />
    <meta name="Author" content="Perry Sawatzky" />
  </head>

  <body>

    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
    <%= yield %>
  </body>
</html>




  <!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->
  <body class="smoothscroll enable-animation">
    <!-- wrapper -->
    <div id="wrapper">
      <!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
      <div id="header" class="navbar-toggleable-md sticky header-md clearfix">
        <!-- TOP NAV -->
        <header id="topNav">
          <div class="container">
            <!-- Mobile Menu Button -->
            <button
              class="btn btn-mobile"
              data-toggle="collapse"
              data-target=".nav-main-collapse"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Logo -->
            <a class="logo float-left scrollTo" href="#top">
              <%= image_tag("R2.png")%>
            </a>

            <!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
            <div
              class="navbar-collapse collapse float-right nav-main-collapse submenu-dark"
            >
              <nav class="nav-main">
                <!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
                <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                  <li class="active">
                    <!-- HOME -->
                    <a id='home-nav' href="#home-navigation">
                      HOME
                    </a>
                  </li>
                  <li>
                    <!-- SERVICES -->
                    <a id='services-nav' href="#services-navigation">
                      SERVICES
                    </a>
                  </li>
                  <li>
                    <!-- PORTFOLIO -->
                    <a id='portfolio-nav' href="#portfolio-navigation">
                      PORTFOLIO
                    </a>
                  </li>
                  <li>
                    <!-- NEWS -->
                    <a id='news-nav' href="#news-navigation">
                      NEWS
                    </a>
                  </li>
                  <li>
                    <!-- CLIENTS -->
                    <a id='clients-nav' href="#clients-navigation">
                      CLIENTS
                    </a>
                  </li>
                  <li>
                    <!-- CONTACT -->
                    <a id='contact-nav' href="#contact-navigation">
                      CONTACT
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </header>
        <!-- /Top Nav -->
      </div>
