<!DOCTYPE html>
<html>
  <head>
    <title>RocketElevatorsInformationSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <meta charset="utf-8" />
      <title>Rocket Elevators - Index</title>
      <meta name="description" content="" />
      <meta name="Author" content="Perry Sawatzky" />
  
      <!-- mobile settings -->
      <meta
        name="viewport"
        content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"
      />

      <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
        rel="stylesheet"
        type="text/css"
      />

  </head>

  <body>


  <div id="header" class="navbar-toggleable-md sticky header-md clearfix">
  <!-- TOP NAV -->
  <header id="topNav">
    <div class="container">
      <!-- Mobile Menu Button -->
      <button
        class="btn btn-mobile"
        data-toggle="collapse"
        data-target=".nav-main-collapse"
      >
        <i class="fa fa-bars"></i>
      </button>

      <!-- Logo -->
      <a class="logo float-left scrollTo" href="#top">
     
      </a>
      <%= image_tag("R2.png")%>
      <!-- 
        Top Nav 
        
        AVAILABLE CLASSES:
        submenu-dark = dark sub menu
      -->
      <div
        class="navbar-collapse collapse float-right nav-main-collapse submenu-dark"
      >
        <nav class="nav-main">
          <!-- 
            .nav-onepage
            Required for onepage navigation links
            
            Add .external for an external link!
          -->
          <ul id="topMain" >
            <li >
              <!-- HOME -->
              <a id='home-nav' href="#home-navigation">
                HOME
              </a>
            </li>
            <li>
              <!-- SERVICES -->
              <a id='services-nav' href="#services-navigation">
                SERVICES
              </a>
            </li>
            <li>
              <!-- PORTFOLIO -->
              <a id='portfolio-nav' href="#portfolio-navigation">
                PORTFOLIO
              </a>
            </li>
            <li>
              <!-- NEWS -->
              <a id='news-nav' href="#news-navigation">
                NEWS
              </a>
            </li>
            <li>
              <!-- CLIENTS -->
              <a id='clients-nav' href="#clients-navigation">
                CLIENTS
              </a>
            </li>
            <li>
              <!-- CONTACT -->
              <a id='contact-nav' href="#contact-navigation">
                CONTACT
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- /Top Nav -->




    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
    <%= yield %>



    <footer id="footer">
        <div class="container">
          <div class="row">
            <!-- col #1 -->
            <div class="col-md-8">
              <h3 class="letter-spacing-1">WHY US?</h3>

              <!-- Small Description -->
              <p>
                We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.
              </p>
              <h2>(418) 555-1234</h2>
            </div>
            <!-- /col #1 -->

            <!-- col #2 -->
            <div class="col-md-4">
              <h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

              <!-- Newsletter Form -->
              <p>Subscribe to Our Newsletter to get Important News & Offers</p>

              <form
                class="validate"
                action="php/newsletter.php"
                method="post"
                data-success="Subscribed! Thank you!"
                data-toastr-position="bottom-right"
              >
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="fa fa-envelope"></i
                  ></span>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control required"
                    placeholder="Enter your Email"
                  />
                  <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit">
                      Subscribe
                    </button>
                  </span>
                </div>
              </form>
              <!-- /Newsletter Form -->
            </div>
            <!-- /col #2 -->
          </div>
        </div>

        <div class="copyright">
          <div class="container">
            <ul class="float-right m-0 list-inline mobile-block">
              <li>Terms &amp; Conditions</li>
              <li>&bull;</li>
              <li>Privacy</li>
            </ul>
            &copy; All Rights Reserved, Rocket Elevators LTD
          </div>
        </div>
      </footer>


      <!-- 
			GMAP.JS 
			http://hpneo.github.io/gmaps/
		-->
    <script src="//maps.google.com/maps/api/js?key=AIzaSyCqCn84CgZN6o1Xc3P4dM657HIxkX3jzPY"></script>
    <!--
    <script src="assets/plugins/gmaps.js"></script>
    <script>
      jQuery(document).ready(function () {
        /**
					@BASIC GOOGLE MAP
				**/
        var map2 = new GMaps({
          div: "#map2",
          lat: -12.043333,
          lng: -77.028333,
          scrollwheel: false,
        });

        var marker = map2.addMarker({
          lat: -12.043333,
          lng: -77.028333,
          title: "Company, Inc.",
        });
      });
    </script>
    -->


  </body>


</html>
